<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tracker palestra</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="style.css">
</head>
<body bgcolor="beige">
  <h3>MOVIT AI</h3>
<div class="box">

  <form action="accesso.php" method="get" align="center">
  <p> inserisci il nome <input type=text name="credenziali">
        <br><br></p>
   insersci il cognome <input type="text" name="" >
   <br><br>
   password<input type="text" name="" >
   <br><br>
   <p> seleziona il tuo somatotipo</p>
    <select name="utente" id="corpo">
      <option value="endomorfo">endomorfo</option>
      <option value="mesomorfo">mesomorfo</option>
      <option value="ectomorfo">ectomorfo</option>

    </select>
    <p>selezionare il tipo di allenamento</p>

    <select name="allenamento" id="tipo">
      <option value="cardio">cardio</option>
      <option value="definizione">definizione</option>
      <option value="full-body">full-body</option>
      <option value="metabolico">metabolico</option>

    </select>
  <br>
  <br><td><input type="submit" NAME="LOGIN" VALUE="invia" >

    <input type="reset" name="invia" value="cancella"></td><br>
  </form>
</div>
<script src="index.js"></script>
<div class="container-fluid py-3">
  <h5>Angular reCAPTCHA v2</h5>

  <form #form="ngForm">
    <div class="row mt-3">
      <div class="col-sm-12 mb-2">
        <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
        <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
          <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-2">
        <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">Send</button>
      </div>
    </div>
  </form>
</div>
















  <app-root></app-root>
</body>
</html>
