/* You can add global styles to this file, and also import other style files */
body{background-color: beige;}

p{font-family: 'Times New Roman', Times, serif;}

select{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

H5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}


h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
}

.box{
  background-color: lightcyan;
  height: 900px;
  width: 900px;
  margin:10px auto;
  padding: 25px;
  border: 5px solid black;

}

.modulo-ricerca {
  background-color: #f6f6f6;
  border: 1px solid #DDD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  padding: 8px;
  width: 600px;
}

.modulo-ricerca #search {
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  float: left;
  font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
  box-sizing: border-box;
  height: 42px;
  padding: 10px;
  width: 490px;
}

.modulo-ricerca #search:-moz-placeholder,
.modulo-ricerca #search:-ms-input-placeholder,
.modulo-ricerca #search::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}

.modulo-ricerca #submit {
  background-color: #00994D;
  border: 1px solid #008040;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  height: 42px;
  float: right;
  font: 15px Arial, Helvetica;
  padding: 0;
  text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
  width: 100px;
}

.modulo-ricerca #submit:hover,
.modulo-ricerca #submit:focus,
.modulo-ricerca #submit:active {
  background-color: #00B359;
}
