/* You can add global styles to this file, and also import other style files */
body{background-color: beige;}

p{font-family: 'Times New Roman', Times, serif;}

select{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
    border: 5px solid #DDD;
}




h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

H5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}


h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
}

.box{
  background-color: lightcyan;
  height: 900px;
  width: 900px;
  margin:10px auto;
  padding: 25px;
  border: 5px solid black;

}
/*stile finger print */
.fingerprint-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4CAF50; /* colore di sfondo verde */
  color: white; /* colore del testo bianco */
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* ombra leggera */
  transition: all 0.2s ease-in-out; /* animazione di transizione */
}

.fingerprint-button:hover {
  transform: scale(1.1); /* ingrandisce il pulsante al passaggio del mouse */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* ombra leggermente più grande */
}
/*stile social network*/

#social-bar {
  position: fixed;
  top:0;
  bottom:0;
  margin:auto;
  left:0;
  height:-webkit-fit-content;
  height:-moz-fit-content;
  height:fit-content;
}
#social-bar a {
  display: block;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding:15px;

  font-size: 20px;
  text-decoration:none;
  color: white;
}
#social-bar a:hover {
  opacity:0.8;
}
.facebook {
  background: #3B5998;
}

.linkedin {
  background: #3985DD;

}
.instagram {
  background: #dd2a7b;

}

@media screen and (max-width:700px){
  #social-bar a {
    padding:8px;
  }
}

